@* Navigation menu for My First Castle Panic *@
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/play">Play Game</a></li>
        <li><a href="/simulation">Simulation</a></li>
        <li><a href="https://gusandco.net/wp-content/uploads/2019/03/My-First-Castle-Panic-RULES-WEB.pdf" target="_blank">Instructions</a></li>
    </ul>
</nav>
