@page "/"

<PageTitle>Home</PageTitle>

<h1>My First Castle Panic</h1>
<p>Welcome! Play the game or run simulations to calculate win probability for different player counts.</p>
<ul>
	<li><a href="/play">Play Game</a></li>
	<li><a href="/simulation">Simulation</a></li>
</ul>
